

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&family=Red+Hat+Display:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
body{
    font-family: 'Libre Franklin',sans-serif;
    text-align: center;
    padding: 50px 0 20px;
}
.heading h1{
    font-weight: 300;
}
.heading h1 span{
    font-weight: 700;
    color: #111;
}
.heading p{
    font-size: 14px;
    padding-bottom: 20px;
}
.heading .form-control{
    width: 300px;
    margin: auto;
}
.heading .form-control input{
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    color:hsl(223, 87%, 63%);
    font-family: inherit;
    border: 2px solid;
    border-radius: 30px;
}
.heading .form-control input::placeholder{
    color: hsl(223, 87%, 63%);
}
.heading .form-control button{
   width: 100%;
   background-color: hsl(223, 87%, 63%);
   color: #fff;
   font-family: inherit;
   padding: 8px;
   border: 2px solid hsl(223, 87%, 63%);
   border-radius: 30px;
   
   transition: backgroung-color 0.4s;
}
.heading .form-control button:hover{
    cursor: pointer;
    background-color: transparent;
    color: hsl(228, 45%, 44%);
}
.showcase{
    padding: 50px 20px 80px;
}
h1,p{
    color:hsl(0, 0%, 59%)
}
.footer ul{
    display: flex;
    align-items: center;
    justify-content: center;


}
.footer ul li{
    margin: 0 20px;
}
.footer ul li a{
    color: hsl(223, 87%, 63%);
    padding: 10px;
    
    transition: background-color 0.4s;
}
.footer ul li a:hover{
     background-color: hsl(223, 87%, 63%);
     border-radius: 50%;
     color: #fff;
}
.footer p{
    padding-top: 20px;
    font-size: 14px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media (min-width:700px){
    .heading h1{
        font-size: 36px;
    }
    .heading .form-control{
        width: auto;
    }
    .heading .form-control input, .heading .form-control button{
        width: auto;
        padding: 12px 20px;
    }
    .heading .form-control button{
        width: 150px;
    }
    .heading .form-control button:hover{
        cursor: pointer;
        background-color: transparent;
        color: hsl(228, 45%, 44%);
    }
    .showcase img{
        width: 600px;
    }
}